.lista {
 color: red;
font-size: 30;
}

#imagem {
 text-aling: center;
background:black;
}

#destaque {;
border: 5px;
border- steyle: dashed;
border-color: blue;
border-top-left-radius: 500px;
border-top-right-radius: 500px;
border-bottom-left-radius:500px;
border-bottom-right-radius:500px;
padding-top:30px;
padding-bottom:30px;
margin-left:500px;
margin-right:500px;
background: yellow;
}

p {
 color:red;
 font-size: 30;
text-aling: left;
}


h1 {
color: blue;
font-size: 50;
text-aling: center;
}

h2 {
color: green;
font-size:40;
text-aling: right;
}

#lateral {
 float: right;
}
#imagem
